rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {
      // write = create + delete + update
      // allow read, create, delete, update;
      allow create: if request.auth != null // only auth
      allow read, delete: if request.auth.uid == resource.data.uid // read and delete only owner
    }
  }
}